.header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header h1 {
    font-size: 100;
    font-weight: 400;
}

.club_category {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.club_category h3 {
    font-size: 64px;
    margin: 0;
    font-weight: 300;
}

.club_item h4 {
    font-size: 38.4px;
    font-weight: 100;
    margin: 0;
}

.club_item p {
    margin: 0;
}