{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
  </head>
  <body>
    <div class="header">
      <h1>Check out the {{clubs_size}} clubs at Haverford College!</h1>
    </div>
    <div class="list_container">
      {% if there_are_clubs %}
      <ul>
        {% for category, clubs in clubs_list %}
        <div class="club_category">
          <li><h3>{{category}}</h3><br>
            {% for club in clubs %}
            <div class="club_item">
              <li><h4>{{club.name}}</h4></li>
            </div>
            <p>{{club.description}}</p>
            {% endfor %}
          </li>
        </div>
        {% endfor %}
      </ul>
      {% else %}
      <p>No clubs are currently registered in the system.</p>
      {% endif %}
    </div>
  </body>
</html>
